
.App {
  height: 100%;
  background-color: #000000;
  overflow: scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spinner {
  width: 20%;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameless-logo {
  height: 60%;
  width: 60%;
}


.alert {
  position: absolute;
  width: 100%;
  z-index:1;
}

.header-container {
  padding-top: 30px;
  justify-content: center;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: #EFEF85;
  font-family: "myFont";
}

.card-text {
  color: #FD593D;
  font-family: "myFont";
  font-size: 20px;
}

.my-card {
  background-color: #EFEF85; 
  padding: 10px;
  border-color: #EFEF85;
  margin: 10px;
}

.card-button {
  margin: 5px;
}


.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "myFont";

}

/* .MuiCard-root {
  border-width: 1px;
  border-color: white;
} */

.button-text {
  font-size: 15px;
  font-family: "myFont";
}

.card-content {
  background-color: black;
  align-items: center;
}

.connect-wallet-button {
  font-family: "myFont";
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  /* background: -webkit-linear-gradient(left, #DFCFC6, #FD593D); */
  background: #FD593D;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-top: 15px;
  margin-bottom: 20px;
  /* margin-right: 15px; */
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.components-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: "myFont";
  text-decoration: none;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

